<div class="contact-inner__area contact-inner__ptb p-relative">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-11 offset-xl-1">
        <div class="row align-items-center">
          <div class="col-xl-9 col-lg-10">
            <div class="contact-inner__top-section-title-box mb-70">
              <span class="contact-inner__subtitle">Contact Us</span>
              <h4 class="contact-inner__title tp-char-animation tp-hero-3__content">
                Let’s Talk <span><img src="assets/img/contact/contact.jpg" alt="" /></span> <br />
                About your Project
              </h4>
            </div>
          </div>
          <div class="col-xl-3 col-lg-2 d-none d-sm-block text-end">
            <div class="contact-inner__shape-1 text-center text-lg-end">
              <img class="flower-img" src="assets/img/contact/contact-flower.png" alt="" />
              <img class="flower-text" src="assets/img/contact/contact-flower-text.png" alt="" />
            </div>
          </div>
        </div>
        <div class="contact-inner__mail-box mb-90">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
              <div class="contact-inner__mail-info">
                <span>Email Me:</span>
                <a href="https://template.wphix.com/cdn-cgi/l/email-protection#375f525b5b5877535e5250581954585a"
                  ><span class="__cf_email__" data-cfemail="d0b8b5bcbcbf90b4b9b5b7bffeb3bfbd"
                    >[email&#160;protected]</span
                  ></a
                >
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
              <div class="contact-inner__mail-text">
                <p>
                  Interested in working with me? Submit your <br />
                  project inquiry using the form below.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="contact-inner__category mb-85">
            <h4 class="contact-inner__category-title">I'm interested in...</h4>
            <div class="contact-inner__category-wrapper">
              <label for="branding" class="contact-category-btn">Branding</label>
              <label for="web_design" class="contact-category-btn">Web Design</label>
              <label for="app_design" class="contact-category-btn active">App Design</label>
              <label for="logo" class="contact-category-btn">Logo</label>
              <label for="digital_marketing" class="contact-category-btn">Digital Marketing</label>
              <label for="android_development" class="contact-category-btn active">Android Development</label>
              <label for="iso_development" class="contact-category-btn">iOS Development</label>
              <label for="design_concept" class="contact-category-btn">Design Concept</label>
              <label for="other" class="contact-category-btn">Other</label>

              <input type="checkbox" id="branding" />
              <input type="checkbox" id="web_design" />
              <input type="checkbox" id="app_design" />
              <input type="checkbox" id="logo" />
              <input type="checkbox" id="digital_marketing" />
              <input type="checkbox" id="android_development" />
              <input type="checkbox" id="iso_development" />
              <input type="checkbox" id="design_concept" />
              <input type="checkbox" id="other" />
            </div>
          </div>
        </div>
      </div>
      <div class="contact-inner__wrapper">
        <div class="postbox__comment-form">
          <h3 class="contact-inner__form-title">Request A Quote</h3>
          <form action="#" class="box">
            <div class="row gx-20">
              <div class="col-xxl-6 col-xl-6 col-lg-6">
                <div class="postbox__comment-input mb-35">
                  <input type="text" class="inputText" required />
                  <span class="floating-label">Your Name</span>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6">
                <div class="postbox__comment-input mb-35">
                  <input type="text" class="inputText" required />
                  <span class="floating-label">Company</span>
                </div>
              </div>
              <div class="col-xxl-12">
                <div class="postbox__comment-input mb-35">
                  <input type="text" class="inputText" required />
                  <span class="floating-label">Your Email</span>
                </div>
              </div>
              <div class="col-xxl-12">
                <div class="postbox__comment-input mb-20">
                  <textarea class="textareaText" required></textarea>
                  <span class="floating-label-2">Your Comment</span>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="contact-inner__category mb-45">
              <h4 class="contact-inner__category-title">Project budget (USD)</h4>
              <div class="contact-inner__category-wrapper">
                <label for="10_20k" class="contact-budget-btn">10-20k</label>
                <label for="30_40k" class="contact-budget-btn active">30-40k</label>
                <label for="40_50k" class="contact-budget-btn">40-50k</label>
                <label for="50_100k" class="contact-budget-btn">50-100k</label>
                <label for="greater_than_100k" class="contact-budget-btn"> > 100k</label>

                <input type="radio" name="contact_budget" id="10_20k" />
                <input type="radio" name="contact_budget" id="30_40k" />
                <input type="radio" name="contact_budget" id="40_50k" />
                <input type="radio" name="contact_budget" id="50_100k" />
                <input type="radio" name="contact_budget" id="greater_than_100k" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-12">
            <div class="postbox__comment-btn">
              <button type="submit" class="tp-btn-grey-lg">
                <span>
                  <i>Send Message</i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
