<div class="tp-hero-3__area black-bg-3 tp-hero-3__ptb z-index-1 smooth p-relative tp-btn-trigger-3">
  <div class="tp-hero-3__shape-1">
    <img src="assets/img/hero/hero-shape-2-1.png" alt="" />
  </div>
  <div class="tp-hero-3__shape-2">
    <img src="assets/img/hero/hero-shape-2-2.png" alt="" />
  </div>

  <div class="tp-isomeric-grid d-none">
    <div class="tp-isomeric-grid-item tp-isomeric-grid-horizontal">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="tp-isomeric-grid-item tp-isomeric-grid-vertical">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="tp-hero-3__content">
          <h3 class="tp-hero-3__title tp-char-animation">404 Not Found</h3>
          <div class="tp-btn-bounce-3">
            <button type="button" (click)="this.globalService.navigate('/')" class="tp-btn-blue" href="#">
              <span class="text">Back to Home</span>
              <span class="icon">
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1 1L10 10"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M10 1V10H1"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
