<main>
  <!-- porfolio details area start -->
  <div class="porfolio-details__area porfolio-details__color-customize p-relative smooth">
    <a href="#porfolio-details">
      <div class="tp-hero-3__scrool-down z-index-5">
        <span class="text">Scroll</span>
        <span>
          <svg width="14" height="93" viewBox="0 0 14 93" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14 85.8995C10.1308 85.8995 6.9999 88.9319 6.9999 92.6793"
              stroke="white"
              stroke-width="2"
              stroke-miterlimit="10"
            />
            <path
              d="M7 92.6793C7 88.9319 3.86911 85.8995 -0.000102413 85.8995"
              stroke="white"
              stroke-width="2"
              stroke-miterlimit="10"
            />
            <path d="M7 0L7 90" stroke="white" stroke-width="2" stroke-miterlimit="10" />
          </svg>
        </span>
      </div>
    </a>
    <div class="porfolio-details__hero-img">
      <img data-speed="1.1" src="assets/img/portfolio/portfolio-details-img.jpg" alt="" />
    </div>
  </div>

  <div id="porfolio-details" class="porfolio-details__info-wrap black-bg-3 pt-120 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-4">
          <div class="porfolio-details__left-info">
            <div class="porfolio-details__left-content">
              <h4 class="porfolio-details__left-info-title">Clients</h4>
              <span>The Organic Crave</span>
            </div>
            <div class="porfolio-details__left-content">
              <h4 class="porfolio-details__left-info-title">Role in project</h4>
              <span>UX/UI Design - branding</span>
            </div>
            <div class="porfolio-details__left-content">
              <h4 class="porfolio-details__left-info-title mb-20">Services</h4>
              <span>Branding</span>
              <span>Graphic Design</span>
              <span>Packaging</span>
            </div>
            <div class="porfolio-details__left-content">
              <h4 class="porfolio-details__left-info-title">Year</h4>
              <span>2023</span>
            </div>
          </div>
        </div>
        <div class="col-xl-7 col-lg-8">
          <div class="porfolio-details__right-info">
            <div class="porfolio-details__right-title-box">
              <span class="tp-section-subtitle-4 mb-20">ABOUT THE PROJECT</span>
              <h4 class="tp-section-title-4 mb-35">
                Delivering Better Business News With an Improved User Experience.
              </h4>
              <p>
                Booster is a B2B platform focused on increasing the revenues and overall efficiency of enterprises,
                whether big or small. The company offers trade analytics, consultations, and other commerce-related
                services to help businesses convert their visitors into leads.
              </p>
            </div>
            <div class="porfolio-details__right-btn">
              <a class="tp-btn-border-md" href="#">
                View Website
                <span>
                  <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M1 10L10 1"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M1 1H10V10"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- porfolio details area end -->

  <div class="porfolio-details__overview-wrapper black-bg-3">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="porfolio-details__overview-thumb mb-100">
            <img data-speed="0.6" src="assets/img/portfolio/port-details-2.jpg" alt="" />
          </div>
        </div>
        <div class="porfolio-details__overview-box mt-120 pb-135">
          <div class="row">
            <div class="col-xl-5 col-lg-4">
              <div class="porfolio-details__overview-left">
                <h4 class="porfolio-details__overview-title mb-40">Overview</h4>
              </div>
            </div>
            <div class="col-xl-7 col-lg-8">
              <div class="porfolio-details__overview-right">
                <p>The technology that drives some of the best Platforms Out there is nothing without great planning</p>
                <div class="porfolio-details__overview-list">
                  <ul>
                    <li>Placeat laborum quam.</li>
                    <li>Corporis explicabo voluptas exercitationem</li>
                    <li>In inventore consequatur autem.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="porfolio-details__result-box pb-70">
          <div class="row">
            <div class="col-xl-5 col-lg-4">
              <div class="porfolio-details__result-left">
                <h4 class="porfolio-details__overview-title mb-40">Results</h4>
              </div>
            </div>
            <div class="col-xl-7 col-lg-8">
              <div class="porfolio-details__result-right">
                <div class="porfolio-details__result">
                  <span class="child-1"
                    ><em data-purecounter-duration=".7" data-purecounter-end="120" class="purecounter">120</em>%</span
                  >
                  <span class="child-2">Months Project Duration</span>
                </div>
                <div class="porfolio-details__result">
                  <span class="child-1"
                    ><em data-purecounter-duration=".7" data-purecounter-end="45" class="purecounter">45</em>%</span
                  >
                  <span class="child-2">Average daily signups</span>
                </div>
                <div class="porfolio-details__result">
                  <span class="child-1">
                    <em data-purecounter-duration=".7" data-purecounter-end="300" class="purecounter">300</em>%</span
                  >
                  <span class="child-2">Average daily signups</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="porfolio-details__thumb-box tp-project-3__area">
          <div class="row">
            <div class="col-xl-12">
              <div class="tp-portfolio-item-wrapper-3">
                <div class="tp-portfolio-item-3 portfolio-panel pb-80 tp-hover-reveal-text">
                  <a href="#">
                    <img src="assets/img/portfolio/portfolio-details-img.jpg" alt="" />
                    <span></span>
                  </a>
                </div>
                <div class="tp-portfolio-item-3 portfolio-panel pb-80 tp-hover-reveal-text">
                  <a href="#">
                    <img src="assets/img/portfolio/portfolio-details-img-2.jpg" alt="" />
                    <span></span>
                  </a>
                </div>
                <div class="tp-portfolio-item-3 portfolio-panel pb-80 tp-hover-reveal-text">
                  <a href="#">
                    <img src="assets/img/portfolio/portfolio-details-img-3.jpg" alt="" />
                    <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="porfolio-details__navigation-wrap pb-125">
          <div class="row align-items-center">
            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
              <div class="porfolio-details__navigation-content text-center text-md-start">
                <a href="#">
                  <i class="fa-regular fa-arrow-left"></i>
                  <span>Preview</span>
                </a>
                <h4>Crisis Cleanup</h4>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
              <div class="porfolio-details__navigation-bar text-center">
                <a href="#">
                  <span>
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        opacity="0.5"
                        d="M1 5.21053C1 3.22567 1 2.23323 1.61662 1.61662C2.23323 1 3.22567 1 5.21053 1C7.19539 1 8.18782 1 8.80444 1.61662C9.42105 2.23323 9.42105 3.22567 9.42105 5.21053C9.42105 7.19539 9.42105 8.18782 8.80444 8.80444C8.18782 9.42105 7.19539 9.42105 5.21053 9.42105C3.22567 9.42105 2.23323 9.42105 1.61662 8.80444C1 8.18782 1 7.19539 1 5.21053Z"
                        stroke="white"
                        stroke-width="1.5"
                      />
                      <path
                        opacity="0.5"
                        d="M12.5781 16.7896C12.5781 14.8048 12.5781 13.8123 13.1947 13.1957C13.8114 12.5791 14.8038 12.5791 16.7887 12.5791C18.7735 12.5791 19.7659 12.5791 20.3826 13.1957C20.9992 13.8123 20.9992 14.8048 20.9992 16.7896C20.9992 18.7745 20.9992 19.7669 20.3826 20.3835C19.7659 21.0002 18.7735 21.0002 16.7887 21.0002C14.8038 21.0002 13.8114 21.0002 13.1947 20.3835C12.5781 19.7669 12.5781 18.7745 12.5781 16.7896Z"
                        stroke="white"
                        stroke-width="1.5"
                      />
                      <path
                        d="M1 16.7896C1 14.8048 1 13.8123 1.61662 13.1957C2.23323 12.5791 3.22567 12.5791 5.21053 12.5791C7.19539 12.5791 8.18782 12.5791 8.80444 13.1957C9.42105 13.8123 9.42105 14.8048 9.42105 16.7896C9.42105 18.7745 9.42105 19.7669 8.80444 20.3835C8.18782 21.0002 7.19539 21.0002 5.21053 21.0002C3.22567 21.0002 2.23323 21.0002 1.61662 20.3835C1 19.7669 1 18.7745 1 16.7896Z"
                        stroke="white"
                        stroke-width="1.5"
                      />
                      <path
                        d="M12.5781 5.21053C12.5781 3.22567 12.5781 2.23323 13.1947 1.61662C13.8114 1 14.8038 1 16.7887 1C18.7735 1 19.7659 1 20.3826 1.61662C20.9992 2.23323 20.9992 3.22567 20.9992 5.21053C20.9992 7.19539 20.9992 8.18782 20.3826 8.80444C19.7659 9.42105 18.7735 9.42105 16.7887 9.42105C14.8038 9.42105 13.8114 9.42105 13.1947 8.80444C12.5781 8.18782 12.5781 7.19539 12.5781 5.21053Z"
                        stroke="white"
                        stroke-width="1.5"
                      />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
              <div class="porfolio-details__navigation-content next text-center text-md-end">
                <a href="#"><span>Next</span><i class="fa-regular fa-arrow-right"></i></a>
                <h4>Tough Built</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
